.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.contact-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.contact-content {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  width: 60%;
  background: #ffffff;
  box-shadow: 15px 15px 30px rgba(190, 190, 190, 0.5),
    -15px -15px 30px rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 20px;
  text-align: left;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-details-content {
  background: #ffffff;
  padding: 20px;
}

.contact-header {
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
  font-weight: 900;
  line-height: 1;
  /* text-align: center; */
  font-size: 24px;
}

.contact-header::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #e86a33;
  bottom: -20px;
  margin-left: -30px;
}

.contact-content {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

label {
  color: #000000;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #e86a33;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: rgba(228, 154, 64, 0.82);
}

@media (max-width: 480px) {
  .form-container {
    max-width: 100%;
    padding: 0 20px;
  }

  input[type="submit"] {
    width: 100%;
  }
}
