.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  text-align: center;
}

.contact-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form-container {
  background: #ffffff;
  box-shadow: 15px 15px 30px rgba(190, 190, 190, 0.5),
    -15px -15px 30px rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 20px;
  text-align: left;
}

.contact-details {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.contact-details-content {
  padding: 20px;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

label {
  color: #000000;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #e86a33;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: rgba(228, 154, 64, 0.82);
}

@media (min-width: 768px) {
  .contact-row {
    flex-direction: row;
    align-items: flex-start; /* Align items to the top of the row */
  }

  .contact-form,
  .contact-details {
    flex: 1;
    margin-bottom: 0;
  }

  .form-container,
  .contact-details {
    margin-left: 20px;
  }
}
