* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #E86A33;
	--mainColorLight: #9575DE;
	--secondaryColor: #9575DE;
	--textColor: #fff;
}

.logo-container {
	margin-top:2px;
	display: flex;
	align-items: center;
	margin-right: auto;
}

.logo-image {
	width: 70px;
	height: auto;
	margin-right: 1rem;
	margin-left: -1rem;
}

h3 {
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 80px;
	padding: 0 3rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	position: sticky;
	top: 0;
	z-index: 100;
	opacity: 0.9;
	transition: transform 0.3s ease-in-out; /* Added transition property */

}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	cursor: pointer;
}



nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header {
		position: relative;
		opacity: 0.9;
	}

	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -101vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
		transform: translateY(100%); /* Changed translateY to transform for transition */

	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
