.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    background-color:black ;
    /* background-image: url("../../../assets/about-image.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.social-media {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sm-icon {
    display: flex;
    margin-left: 2rem;
}

.sm-icon:hover {
    cursor: pointer;
    color:#dde5b6;
}

h1 {
    color: white;
    font-size: 10rem;
}

p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.about-content {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
