.footer-container {
  background-color: #333;
  color: white;
  padding: 40px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: auto;
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info,
.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li,
.social-media li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-info li i,
.social-media li i {
  margin-right: 10px;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media a {
  color: white;
}

.social-media a:hover {
  color: #ccc;
}

.footer-creator {
  text-align: center;
  font-size: medium;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .logo {
    width: 150px;
  }
}
