.collapse-container {
    overflow: hidden;
    transition: max-height 1s ease;
    /* margin-bottom: .5rem; */
  }
  
  .card {
    padding: 0.1rem;
    width: 50%;
    margin-left: 20rem;
  }
  
  .card-header {
    padding: 0.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-icon {
    cursor: pointer;
  }
  
  .card-body {
    padding: 0.5rem;
    border: 1px solid black;
    border-top: none;
    transition: opacity 0.3s ease;
  }
  
  .collapse-container.open .card-body {
    opacity: 1;
  }
  