.service-container {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 40px 0; */
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background: linear-gradient(135deg, rgba(224, 224, 224, 0.4), rgba(255, 255, 255, 0.9));
  border-radius: 30px;
  box-shadow: 15px 15px 30px rgba(190, 190, 190, 0.5), -15px -15px 30px rgba(255, 255, 255, 0.9);
  text-align: center;
}


.service-item.animate {
  margin: 18px;
  opacity: 1;
  transform: translateY(0);
}

.service-img {
  flex: 1;
  text-align: left;
}

.service-img img {
  max-width: 50%;
  height: auto;
}

.service-text {
  flex: 1;
  text-align: center;
}

.service-heading {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.service-content {
  color: black;
  margin-top: 10px;
  font-size: 16px;
}

.service-item.reverse {
  flex-direction: row-reverse;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .service-item {
    flex-direction: column;
  }

  .service-img img {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .service-img img {
    max-width: 80%;
  }
}
